.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width: 100vw;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px;
}

.profile-avatar {
    margin-bottom: 20px;
}

.avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    background-color: #f5f5f5;
}

.avatar-image[src=""] {
    display: none;
}

.profile-info{
    text-align: center;
}
.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;

}

.profile-info p {
    font-size: 16px;
    color: #666;
}


.profile-actions {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.profile-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #f2f2f2;
}


/* .settings-button {
    background-color: #e8e3ff;
    color: #6c63ff;
}

.customize-button {
    background-color: #f2f2f2;
    color: #6c63ff;
}

.streak-button {
    background-color: #f2f2f2;
    color: #28a745;
} */

.profile-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-back-home{
    margin-top: 100px;
}

.profile-info p {
    color: black;
}
