.video-demonstrations-page-wrapper {
    min-height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0;
}

.video-demonstrations-category-dropdown {
    display: flex;
    gap: 10px;
}

.video-demonstrations-video-container {
    margin-top: 20px;
}

.video-demonstrations-description-textarea {
    width: 400px;
    min-height: 30px; 
}


.video-demonstrations-instructions-textarea {
    min-height: 260px;
    width: 400px;
}