.forgot-password-provide-email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-header {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin-left: 15px;
}

.forgot-password-provide-email-container p {
    margin-top: 50px;
}

.forgot-password-provide-email-input {
    border-radius: 10px;
    width: 280px;
    margin-top: 20px;
    margin-right: 10px;
}

.forgot-password-confirm-button {
    border-radius: 25px;
    width: 260px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}