.forgot-password-set-new-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-update-button {
    border-radius: 25px;
    width: 260px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.set-new-password-input-container {
    position: relative;
    width: 100%;
}

.set-new-password-input-container label {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.set-new-password-input-container input {
    padding-right: 10px;
}

.new-password-eye-icon {
    position: absolute;
    right: 5px;
    top: 60%;
    cursor: pointer;
}

.forgot-password-update-button {
    margin-left: 10px;
}